<h1> Your rectangle! </h1>

<p> Your length is $side-one </p>
<p> Your width is $side-two </p>

#if ($rectangle.isSquare())
  <p> That's a square, too! </p>
#else
  <p> That's only a rectangle, not a square! </p>
#end
